<h1>Places I've Been to 🧳</h1>
<h2>My Travel Journal</h2>
<br>
<div class="row">
  <% for place in @places %>
    <p>
      <a href="/travel/<%= place["id"]%>">
        <%= place["name"] %>
    </p>
  <% end %>
</div>
<br>
<br>
<a href="/travel/new/">Add a new place</a>