<h1>Add a new place below!</h1>

<form action="/travel" method="post">
  <p><strong><label for="name">Place name</label></strong></p>
  
  <input type="name" name="name">
  <br>
  <br>
  <button>Submit</button>
</form>